<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="All Testsuite">
            <directory>../module/MamuzApplication/test/MamuzApplicationTest</directory>
            <directory>../module/MamuzBlog/test/MamuzBlogTest</directory>
            <directory>../module/MamuzContact/test/MamuzContactTest</directory>
            <directory>../module/MamuzContentManager/test/MamuzContentManagerTest</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../module/MamuzApplication/src</directory>
            <directory suffix=".php">../module/MamuzBlog/src</directory>
            <directory suffix=".php">../module/MamuzContact/src</directory>
            <directory suffix=".php">../module/MamuzContentManager/src</directory>
        </whitelist>
    </filter>
</phpunit>
