html,
body {
    height: 100%;
}

body {
    background-image: url(../img/bg.noise.png);
}

a,
a:hover,
a:focus {
    color: #ff8800;
}

h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #282828;
}

h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #77b300;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -70px;
    padding: 0 0 70px;
}

footer {
    padding-top: 30px;
    height: 90px;
}

footer .well {
    margin-bottom: 0;
}

.bs-component {
    max-width: 400px;
}

.form-control {
    background-color: #f5f5f5;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control:focus {
    border-color: #77b300;
}

@media (min-width: 767px) {
    textarea.form-control {
        height: 100px;
    }
}

#recaptcha_area {
    margin: auto;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #77b300;
}

pre, code {
    background-color: #0c0c0c;
    border: 1px solid #000000;
    font-size: inherit;
}

.hljs {
    background: #151515;
}

#sidebar .nav>li>a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
}

#sidebar .nav>li>a:hover {
    background: none;
    text-decoration: underline;
}

#sidebar .nav>li {
    border-left: 1px solid transparent;
}

#sidebar .nav>li.active {
    border-left: 1px solid #ff8800;
}

.sidenav {
    position: fixed;
}

.navbar-form .input-group-btn {
    display: inline;
}

.navbar-input-group {
    font-size: 0;
}

.navbar-input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #77b300;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

pre {
    position: relative;
}

.clip {
    color: #f5f5f5;
    position: absolute;
    right: 14px;
    top: 14px;
}
