html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

footer {
    height: 60px;
}

footer .well {
    margin-bottom: 0;
}

#contact {
    max-width: 400px;
}

#contact textarea {
    height: 100px;
}

#contact .btn {
    width: 100%;
}

#recaptcha_area {
    margin: auto;
}
