html,
body {
    height: 100%;
}

body {
    background-image: url(../img/bg.noise.png);
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -70px;
    padding: 0 0 70px;
}

footer {
    padding-top: 30px;
    height: 90px;
}

footer .well {
    margin-bottom: 0;
}

.bs-component {
    max-width: 400px;
}

.form-control {
    background-color: #e7e7e7;
}

@media (min-width: 767px) {
    textarea.form-control {
        height: 100px;
    }
}

#recaptcha_area {
    margin: auto;
}

pre {
    background-color: #0c0c0c;
    border: 1px solid #000000;
}

.hljs {
    background: #151515;
}
